.contact {
  &__input {
    padding: 0 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__input input {
    width: 100%;
    height: 6.4rem;
    border-bottom: 2px solid $color-dark;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-dark;
  }

  &__input input[type="submit"] {
    border: none;
    margin-top: 1.5rem;
    width: 40%;
    display: block;
    color: #fff;
  }
  &__textarea {
    height: 13rem;
    padding-top: 1.5rem;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid $color-dark;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-dark;
    resize: none;
  }
}
