.contact {
  display: flex;
  height: 100vh;
  border-bottom: 2px solid $color-light;

  &__left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
  }

  &__right {
    width: 50%;
  }

  &__street {
    margin-top: 5.8rem;
  }

  &__ul {
    list-style: none;
  }

  &__li {
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-light-dark;
    &:not(:last-child) {
      margin-bottom: 1.7rem;
    }
  }

  &__form {
    margin-top: 7.3rem;
    display: block;
  }

  &__row {
    display: flex;
  }

  &__input {
    padding: 0 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__input input {
    width: 100%;
    height: 6.4rem;
    border-bottom: 2px solid $color-dark;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-dark;
  }

  &__input input[type="submit"] {
    border: none;
    margin-top: 1.5rem;
    width: 40%;
    display: block;
    color: #fff;
  }
  &__textarea {
    height: 13rem;
    padding-top: 1.5rem;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid $color-dark;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-dark;
    resize: none;
  }
}
